<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link href="@Url.Content("~/Content/app.css")" rel="stylesheet" type="text/css" />
  <script src="~/Scripts/lib/jquery-2.1.3.js"></script>
  <script src="~/Scripts/lib/angular.js"></script>
  <script src="~/Scripts/lib/angular-resource.js"></script>
  <script src="~/Scripts/lib/angular-mocks.js"></script>
  <script src="~/Scripts/lib/angular-ui-router.js"></script>
  <script src="~/Scripts/lib/bootstrap.js"></script>
  <script src="~/Scripts/lib/ui-utils.js"></script>
  <script src="~/Scripts/lib/ui-bootstrap-tpls.js"></script>
  <script src="~/Scripts/lib/d3.js"></script>
  <script src="~/Scripts/lib/angular-charts.min.js"></script>

  <script src="~/Scripts/app/app.js"></script>

  <script src="~/Scripts/services/common.js"></script>
  <script src="~/Scripts/services/itemResource.js"></script>

  <script src="~/Scripts/app/main/itemListCtrl.js"></script>
  <script src="~/Scripts/app/analytics/analyticsCtrl.js"></script>
  <script src="~/Scripts/app/analytics/dailySalesController.js"></script>
  <script src="~/Scripts/app/analytics/dailyTableController.js"></script>
  <script src="~/Scripts/app/analytics/dailyTotalsController.js"></script>

</head>
<body ng-app="chartDemo">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <a ui-sref="home">Home</a>   <a ui-sref="itemList">Items</a>   <a ui-sref="analytics">Analytics</a><a ui-sref="analyticstest">Analytics Test</a>
      </div>      
    
  </nav>
  <div class="container">    
    @RenderBody()
    <div ui-view></div>
  </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
